
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px auto 150px;
}
nav ul{
    list-style: none;
    display: flex;
    color: none;
    
}
nav ul li{
    
    margin-right: 3rem;
}
nav ul a{
    text-decoration: none;
    color: black;
}
.menu-items{
    margin-right: 20px;
}
